#Conocer los datasets

In [1]:
import pandas as pd

In [11]:
peliculas = pd.read_csv("movies.csv")
peliculas.columns = ['peliculaId','titulo','generos']
peliculas = peliculas.set_index('peliculaId')
peliculas.head()

                                        titulo                                      generos
peliculaId
1                             Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                               Jumanji (1995)                   Adventure|Children|Fantasy
3                      Grumpier Old Men (1995)                               Comedy|Romance
4                     Waiting to Exhale (1995)                         Comedy|Drama|Romance
5           Father of the Bride Part II (1995)                                       Comedy

In [4]:
peliculas.describe()

          peliculaId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [6]:
notas = pd.read_csv('ratings.csv')
notas.columns = ['usuarioId','peliculaId','nota','momento']
notas.head()

   usuarioId  peliculaId  nota    momento
0          1           1   4.0  964982703
1          1           3   4.0  964981247
2          1           6   4.0  964982224
3          1          47   5.0  964983815
4          1          50   5.0  964982931

In [7]:
notas.describe()

           usuarioId     peliculaId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

#Primer intento de un sistema de recomendación

In [9]:
notas.value_counts("peliculaId")

peliculaId
356       329
318       317
296       307
593       279
2571      278
         ...
57502       1
57522       1
57526       1
4032        1
193609      1
Length: 9724, dtype: int64

In [12]:
peliculas.loc[356]

titulo          Forrest Gump (1994)
generos    Comedy|Drama|Romance|War
Name: 356, dtype: object

In [13]:
total_de_votos = notas.value_counts("peliculaId")

In [19]:
peliculas['total_de_votos'] = total_de_votos
peliculas.sort_values('total_de_votos', ascending=False).head(10)

                                               titulo  ... total_de_votos
peliculaId                                             ...
356                               Forrest Gump (1994)  ...          329.0
318                  Shawshank Redemption, The (1994)  ...          317.0
296                               Pulp Fiction (1994)  ...          307.0
593                  Silence of the Lambs, The (1991)  ...          279.0
2571                               Matrix, The (1999)  ...          278.0
260         Star Wars: Episode IV - A New Hope (1977)  ...          251.0
480                              Jurassic Park (1993)  ...          238.0
110                                 Braveheart (1995)  ...          237.0
589                 Terminator 2: Judgment Day (1991)  ...          224.0
527                           Schindler's List (1993)  ...          220.0

[10 rows x 3 columns]

#Segundo intento - considerando las notas

In [23]:
media_votos = notas.groupby('peliculaId').mean()['nota']
peliculas['media_votos'] = media_votos
peliculas.head()

                                        titulo  ... media_votos
peliculaId                                      ...
1                             Toy Story (1995)  ...    3.920930
2                               Jumanji (1995)  ...    3.431818
3                      Grumpier Old Men (1995)  ...    3.259615
4                     Waiting to Exhale (1995)  ...    2.357143
5           Father of the Bride Part II (1995)  ...    3.071429

[5 rows x 4 columns]

In [24]:
peliculas.sort_values('total_de_votos', ascending=False).head(10)

                                               titulo  ... media_votos
peliculaId                                             ...
356                               Forrest Gump (1994)  ...    4.164134
318                  Shawshank Redemption, The (1994)  ...    4.429022
296                               Pulp Fiction (1994)  ...    4.197068
593                  Silence of the Lambs, The (1991)  ...    4.161290
2571                               Matrix, The (1999)  ...    4.192446
260         Star Wars: Episode IV - A New Hope (1977)  ...    4.231076
480                              Jurassic Park (1993)  ...    3.750000
110                                 Braveheart (1995)  ...    4.031646
589                 Terminator 2: Judgment Day (1991)  ...    3.970982
527                           Schindler's List (1993)  ...    4.225000

[10 rows x 4 columns]

In [28]:
peliculas_con_mas_50_votos = peliculas.query('total_de_votos >=50')
peliculas_con_mas_50_votos.sort_values('media_votos', ascending=False).head(10)

                                                       titulo  ... media_votos
peliculaId                                                     ...
318                          Shawshank Redemption, The (1994)  ...    4.429022
858                                     Godfather, The (1972)  ...    4.289062
2959                                        Fight Club (1999)  ...    4.272936
1276                                    Cool Hand Luke (1967)  ...    4.271930
750         Dr. Strangelove or: How I Learned to Stop Worr...  ...    4.268041
904                                        Rear Window (1954)  ...    4.261905
1221                           Godfather: Part II, The (1974)  ...    4.259690
48516                                    Departed, The (2006)  ...    4.252336
1213                                        Goodfellas (1990)  ...    4.250000
912                                         Casablanca (1942)  ...    4.240000

[10 rows x 4 columns]

#Tercer intento - considerando las películas que el usuario miró

In [29]:
peliculas_que_mire = [1,19,21,10,2]
peliculas.loc[peliculas_que_mire]

                                           titulo  ... media_votos
peliculaId                                         ...
1                                Toy Story (1995)  ...    3.920930
19          Ace Ventura: When Nature Calls (1995)  ...    2.727273
21                              Get Shorty (1995)  ...    3.494382
10                               GoldenEye (1995)  ...    3.496212
2                                  Jumanji (1995)  ...    3.431818

[5 rows x 4 columns]

In [36]:
aventura_infantil_fantasia = peliculas_con_mas_50_votos.query("generos=='Adventure|Children|Fantasy'")
aventura_infantil_fantasia.drop(peliculas_que_mire, errors='ignore').sort_values('media_votos',ascending=False).head(10)

                                                       titulo  ... media_votos
peliculaId                                                     ...
4896        Harry Potter and the Sorcerer's Stone (a.k.a. ...  ...    3.761682
41566       Chronicles of Narnia: The Lion, the Witch and ...  ...    3.443548

[2 rows x 4 columns]

In [ ]:
#Collaborative filtering vs Based-content filtering